@charset "utf-8";
/* CSS Document */
html,
html 8 {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
header{
	padding: 32px
}

nav ul {
	list-style-type: none;
	background: #B6CFDD;
}
nav ul li a {
	text-decoration: none;
	color: #2f322A;
	text-align: center;
	display: block;
	text-transform: uppercase;
	padding: 8px;
}

.section1 {
	background: #5fb927;
	padding: 32px 15px 32px 15px;
}
.section2 {
	color: #E01571;
	border: thick solid #453fc1;
	background-color: #e0ed0b;
	padding: 32px 15px 32px 15x;
}
footer{
	background: #9d2ec7;
	border-bottom: #db070b;
	border:thick;
}